@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: rgb(15, 231, 116);
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left; 
   padding: 0px 0; 
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
   /* margin-left: 70px; */
  padding-top: 35px; 
  font-size:larger;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 19px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

#umbrella 
{
  width: 350px;
  height: 750px;
  position: relative; 
  left: 420px;
  top: 25px;
  vertical-align: middle;
}
.container2 {
  display: flex;
  align-items: center;
  justify-content: center
}

img {
  max-width: 100%
}

.image {
  flex-basis: 40%
}

.text {
  font-size: 10px;
  left: 800px;
  text-align: center;
  overflow-wrap: break-word;
  vertical-align: middle;
}

